# Python
venv/
backend/venv/
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# Node (if you have frontend)
node_modules/

# Vector DB / ML data (IMPORTANT)
backend/vector_store/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE
.vscode/
.idea/