absl-py
aiofiles
aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
alabaster
annotated-types
anthropic
anyio
appdirs
APScheduler
argon2-cffi
argon2-cffi-bindings
arrow
astropy
astunparse
async-timeout
atomicwrites
attrs
Automat
Babel
backoff
bcrypt
beautifulsoup4
binaryornot
boltons
Bottleneck
Brotli
build
cachetools
certifi
cffi
chardet
charset-normalizer
chromadb
click
colorama
coloredlogs
comm
constantly
contourpy
cookiecutter
cryptography
cssselect
cycler
debugpy
diff-match-patch
dill
distlib
distro
docstring-to-markdown
docstring_parser
docutils
dotenv
durationpy
ecdsa
et-xmlfile
eval_type_backport
exceptiongroup
faiss-cpu
fastapi
fastjsonschema
ffmpy
filelock
Flask
Flask-Login
flatbuffers
flit_core
fonttools
frozendict
frozenlist
future
gast
gensim
glob2
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-genai
google-generativeai
google-pasta
googleapis-common-protos
gradio
gradio_client
greenlet
groovy
groq
grpcio
grpcio-status
h11
h5py
hf-xet
httpcore
httplib2
httptools
httpx
huggingface_hub
humanfriendly
hyperlink
idna
imagecodecs
imageio
imagesize
imbalanced-learn
importlib_metadata
importlib_resources
incremental
inflection
iniconfig
intake
intervaltree
ipywidgets
itemadapter
itemloaders
itsdangerous
jax
jellyfish
Jinja2
jinja2-time
jiter
jmespath
joblib
json5
jsonpatch
jsonpath-python
jsonpointer
jsonschema
jsonschema-specifications
keras
keyring
kiwisolver
kubernetes
lazy-object-proxy
libarchive-c
libclang
llvmlite
lxml
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistralai
mistune
ml-dtypes
mmh3
mock
mpmath
multidict
multipledispatch
multitasking
munkres
mypy-extensions
nest-asyncio
networkx
nltk
numba
numexpr
numpy
oauthlib
onnxruntime
openai
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opt-einsum
orjson
overrides
packaging
pandas
parsel
passlib
pathlib
pathspec
patsy
peewee
pep8
pillow
pkginfo
platformdirs
plotly
pluggy
ply
pooch
posthog
poyo
prometheus-client
propcache
Protego
proto-plus
protobuf
psutil
py
pyasn1
pyasn1-modules
pybase64
pycodestyle
pycparser
pyct
pydantic
pydantic_core
PyDispatcher
pydub
pyerfa
pyflakes
PyHamcrest
PyJWT
PyNaCl
pyodbc
pyOpenSSL
pyparsing
PyPika
pyproject_hooks
pyrsistent
PySocks
pytest
pytest-anyio
python-dateutil
python-docx
python-dotenv
python-jose
python-multipart
python-slugify
python-snappy
pytz
pyviz-comms
PyWavelets
PyYAML
pyzmq
qstylizer
queuelib
referencing
regex
reportlab
requests
requests-file
requests-oauthlib
requests-toolbelt
retrying
rich
rpds-py
rsa
Rtree
ruff
safehttpx
safetensors
scikit-image
scikit-learn
scipy
seaborn
semantic-version
sentence-transformers
service-identity
shellingham
sip
six
smart-open
sniffio
snowballstemmer
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
SQLAlchemy
starlette
statsmodels
sympy
tables
tabulate
tavily-python
tenacity
tensorboard
tensorboard-data-server
tensorflow-cpu @ https://storage.googleapis.com/tensorflow/windows/cpu/tensorflow_cpu-2.12.0-cp310-cp310-win_amd64.whl
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
text-unidecode
textdistance
threadpoolctl
three-merge
tifffile
tiktoken
tinycss2
tldextract
tokenizers
toml
tomli
tomlkit
torch
torchvision
tornado
tqdm
transformers
twilio
Twisted
twisted-iocpsupport
typer
typing-inspection
typing_extensions
tzdata
tzlocal
ujson
Unidecode
uritemplate
urllib3
uvicorn
virtualenv
w3lib
watchdog
watchfiles
websocket-client
websockets
Werkzeug
widgetsnbextension
wrapt
xarray
xgboost
xlwings
yarl
yfinance
zipp
